.hero{
  
     &__hero__container{
     width: 2610px;
     height: 1740px; 
     background-image: url(./../../images/hero.png);
     background-repeat: no-repeat;
     background-size: contain;
     }
}
