.hero{
     
   &__container{
    height: 650px; 
    background-image: url("./../../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
 }
  


     &__heading{
      width: 500px;
      height: 112px;
      font-family: Space Mono;
      font-style: normal;
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
     } 
     &__buuton{
      width: 180px;
      height: 53px;
      left: 260px;
      top: 541px;
     }    
}
